body {
    padding-top: 50px;
    padding-bottom: 20px;
}

html,
body {
    height: 100%;
}

.panel-body .btn {
    margin-bottom: 10px;
}

#container {
    margin-top: 35px;
    height: 500px;
}

#editormd-view {
    height: 515px;
    padding: 5px 5px;
    overflow: auto;
}

.markdown-body {
    margin: 10px auto;
}

hr {
    margin-top: 20px;
    margin-bottom: 0;
}

.panel {
    height: 240px;
}