@charset "utf-8";
body {
    font: 14px/1.5 "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;
    position: relative;
}

footer {
    text-align: center;
}


/*
 * Sidebar
 */


/* Hide for mobile, show later */

.sidebar {
    display: none;
}

.sidebar a {
    text-decoration: none;
    color: #000;
    display: block;
    padding: 10px 15px;
}

.sidebar li {
    list-style-type: none;
}

@media (min-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        padding-top: 0;
        overflow-x: hidden;
        overflow-y: auto;
        /* Scrollable contents if viewport is shorter than content. */
        background-color: #f9fafc;
        border-right: 1px solid #eee;
    }
}

.nav-sidebar a:hover,
.nav-sidebar .active>a {
    color: #000 !important;
}


/* Sidebar navigation */

.nav-sidebar:first-child {
    margin-right: -21px;
    margin-left: -20px;
}

.nav-sidebar:first-child>li>a {
    color: #fff;
    background-color: #367fa9;
}

.nav-sidebar ul {
    padding-left: 0;
}

.nav-sidebar>li>ul>li>a {
    border-left: 3px solid transparent;
}

.nav-sidebar>li>ul>li>a:hover,
.nav-sidebar>li>ul>.active>a,
.nav-sidebar>li>ul>.active>a:hover,
.nav-sidebar>li>ul>.active>a:focus {
    color: #000 !important;
    background-color: #f4f4f5 !important;
    border-left-color: #3c8dbc !important;
}

.nav-sidebar ul ul {
    /* padding-left: 10px; */
    background-color: #f4f4f5;
}

.nav-sidebar ul a {
    color: #777;
}

.nav-sidebar ul ul a {
    padding-left: 30px;
    font-size: 12px;
}

.nav-sidebar ul ul ul a {
    padding-left: 45px;
    font-size: 10px;
}


/*
 * Main content
 */

.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main {
        padding-right: 40px;
        padding-left: 40px;
    }
}

.markdown-body ul {
    padding-left: 20px;
}

.markdown-body h1,
.markdown-body h2 {
    padding-bottom: 0.3em;
    border-bottom: 1px solid #eaecef
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4 {
    font-weight: bold;
}

.markdown-body pre {
    background-color: #fcfcfc;
    border: 1px solid #e1e1e8;
}

.markdown-body blockquote {
    margin-top: 0;
    margin-bottom: 16px;
    padding: 10px 10px;
    font-size: inherit;
}

.btn-primary {
    background-color: #08c !important;
    background-image: linear-gradient(to bottom, #08c, #08c);
}

.btn-primary:active {
    background-color: #07c !important;
}

.btn-primary:hover {
    background-color: #07c !important;
    background-image: linear-gradient(to bottom, #07c, #07c);
}


/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/

::-webkit-scrollbar {
    width: 7px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.1);
}


/*定义滑块 内阴影+圆角*/

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

.tool-bar {
    font-size: 14px;
    padding-top: 15px;
}

.tool-bar .btn-link {
    padding: 0px;
}

.linenums {
    padding-left: 10px;
}

.linenums li {
    list-style-type: none;
    line-height: 20px;
}

.hljs {
    padding: 0.2em;
    background-color: #fcfcfc;
}

#gotoTop {
    display: none;
    background-color: #777;
    color: #eee;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    bottom: 20px;
    right: 20px;
    overflow: hidden;
    width: 46px;
    height: 46px;
    border: none;
    opacity: .8;
    position: fixed;
    z-index: 1000;
    padding-top: 13px;
    cursor: pointer;
}

#gotoTop.hover {
    background: #333;
    text-decoration: none;
}

#btnShowMenu {
    display: block;
    background-color: #777;
    color: #eee;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    bottom: 70px;
    right: 20px;
    overflow: hidden;
    width: 46px;
    height: 46px;
    border: none;
    opacity: .8;
    position: fixed;
    z-index: 1000;
    padding-top: 7px;
    cursor: pointer;
}

#btnShowMenu:hover {
    background: #333;
    text-decoration: none;
}

@media (max-width: 768px) {
    .content-left {
        display: none;
    }
    .content-right {
        margin-left: 0;
        width: 100%;
    }
    .markdown-body {
        margin: 20px auto;
        max-width: 700px;
    }
}

@media (max-width: 480px) {
    .content-left {
        display: none;
    }
    .content-right {
        margin-left: 0;
        width: 100%;
    }
    .markdown-body {
        margin: 20px auto;
        max-width: 320px;
    }
}